<head>
   
</head>
<%- include('../../layouts/functions.ejs') %>        
<div class="kingster-page-title-wrap kingster-style-custom kingster-left-align" style="background-image: url(../upload/shutterstock_59887279.jpg) ;">
    <div class="kingster-header-transparent-substitute">
    </div>
    <div class="kingster-page-title-overlay">
    </div>
    <div class="kingster-page-title-top-gradient">
    </div>
    <div class="kingster-page-title-bottom-gradient">
    </div>
    <div class="kingster-page-title-container kingster-container">
        <div class="kingster-page-title-content kingster-item-pdlr" style="padding-top: 300px ;padding-bottom: 55px ;">
            
        </div>
    </div>
</div>


<div class="kingster-breadcrumbs" style="padding-top: 22px ;padding-bottom: 0px ;">
    <div class="kingster-breadcrumbs-container kingster-container">
        <div class="kingster-breadcrumbs-item kingster-item-pdlr"> 
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Go to Kingster - College." href="/" class="home">
                    <span property="name">Home</span>
                </a><meta property="position" content="1">
            </span> &gt; 
            <span property="itemListElement" typeof="ListItem">
                <span property="name" class="post post-page current-item">Contribution</span>
                <meta property="url" content="">
                <meta property="position" content="2">
            </span>
        </div>
    </div>
</div>

<!-- Contribution List -->
<div class="kingster-page-wrapper" id="kingster-page-wrapper">
    <div class="gdlr-core-course-search-page">
        <div class="gdlr-core-course-search-page-container gdlr-core-container clearfix">
            <div class="gdlr-core-course-search-page-content-wrap gdlr-core-column-40">
                <div class="gdlr-core-course-search-page-content">
                    <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list-info" style="padding-bottom: 0px ;">
                        
                        <% for(var index in contributions) { %>
                        <div class="gdlr-core-course-item-list">
                            <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption"><%= parseInt(index) + 1 %></span><%= contributions[index].title %></h3>
                            <div class="gdlr-core-course-item-info-wrap">
                                <div class="gdlr-core-course-item-info">
                                    <span class="gdlr-core-head">Student : </span>
                                    <span class="gdlr-core-tail"><%= contributions[index].first_name + " " + contributions[index].last_name %></span>
                                </div>
                                <div class="gdlr-core-course-item-info">
                                    <span class="gdlr-core-head">Topic : </span>
                                    <span class="gdlr-core-tail"><%= contributions[index].topic %></span>
                                </div>
                                <div class="gdlr-core-course-item-info">
                                    <span class="gdlr-core-head">Faculty : </span>
                                    <span class="gdlr-core-tail"><%= contributions[index].faculty %></span>
                                </div>
                                <div class="gdlr-core-course-item-info">
                                    <span class="gdlr-core-head">Mark : </span>
                                    <span class="gdlr-core-tail"><%= contributions[index].mark %></span>
                                </div>
                            </div>
                            <div class="gdlr-core-right-align">
                                <a href=<%= "/guest/file_manage?id=" + contributions[index].id %>  class="gdlr-core-course-item-button gdlr-core-button">View content</a>
                            </div>
                                
                        </div>
                        <% } %>

                        
                    </div>
                </div>
            </div>

            <!-- Search -->
            <div class="gdlr-core-column-20">
                <div class="gdlr-core-course-search-page-sidebar">
                    <div class="gdlr-core-course-search-item gdlr-core-item-pdb gdlr-core-item-pdlr">
                        <div class="gdlr-core-search-frame"
                            style="background-image: url(https://demo.goodlayers.com/kingster/homepages/college/wp-content/uploads/sites/2/2018/08/search-bg-2.jpg) ;">
                            <h3 class="gdlr-core-course-search-item-title " style="color: #ffffff ;">Search For Contribution</h3>
                            <form class="gdlr-core-course-form clearfix"
                                action="">
                                <div class=" gdlr-core-course-column gdlr-core-column-1 gdlr-core-column-first">
                                    <div class="gdlr-core-course-search-field gdlr-core-course-field-keywords"><input type="text"
                                            placeholder="Student Name" name="course-keywords" id="search-name" value=<%= search.name %> ></div>
                                </div>
                                
                                <div class=" gdlr-core-course-column gdlr-core-column-1 gdlr-core-column-first">
                                    <div class="gdlr-core-course-search-field gdlr-core-course-field-keywords">
                                        <input type="text" placeholder="Title" name="course-keywords" id="search-title" value=<%= search.title %> ></div>
                                </div>

                                <div class=" gdlr-core-course-column gdlr-core-column-1">
                                    <div class="gdlr-core-course-search-field gdlr-core-course-field-campus">
                                        <div class="gdlr-core-course-form-combobox gdlr-core-skin-e-background">
                                            <select id="search-topic"
                                                class="gdlr-core-skin-e-content" name="">
                                                <option value="" disabled>Topic</option>
                                                <option value=0>All</option>
                                                <% for(var index in topics) { %>
                                                    <% var select = "" %>
                                                    <% if(topics[index].id == search.topic) select = "selected"%>
                                                <option value=<%= topics[index].id %>  <%= select %>> <%= topics[index].name %></option>
                                                <%  } %>
                                            </select></div>
                                    </div>
                                </div>

                                
                                <div class=" gdlr-core-course-column gdlr-core-column-1">
                                    <div class="gdlr-core-course-search-field gdlr-core-course-field-campus">
                                        <div class="gdlr-core-course-form-combobox gdlr-core-skin-e-background">
                                            <select id="search-faculty"
                                                class="gdlr-core-skin-e-content" name="faculty">
                                                <option value="" disabled>Faculty</option>
                                                <option value=0>All</option>
                                                <% for(var index in faculties) { %>
                                                    <% var select = "" %>
                                                    <% if(faculties[index].id == search.faculty) select = "selected"%>
                                                <option value=<%= faculties[index].id %>  <%= select %>> <%= faculties[index].name %></option>
                                                <%  } %>
                                            </select></div>
                                    </div>
                                </div>
                                                                                                                                                                                               
                                <div class="gdlr-core-course-form-submit gdlr-core-course-column gdlr-core-column-first gdlr-core-center-align">
                                    <input class="gdlr-core-full-size" type="submit" value="Search Contribution" id="btn-search">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

           

            



    <script src="../js/jquery/jquery.js" id="jquery-core-js"></script>
    <script src="../js/kingster-learnpress.js" id="kingster-learnpress-js"></script>
    <script>
        (function(body) {
            'use strict';
            body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
        })(document.body);
    </script>
    
    <script src="../js/page-builder.js" id="gdlr-core-page-builder-js"></script>
    <script src="../js/jquery/ui/effect.min.js" id="jquery-effects-core-js"></script>
    <script id="kingster-script-core-js-extra">
        /* <![CDATA[ */
        var kingster_script_core = {
            "home_url": "index.html"
        };
        /* ]]> */
    </script>
    <script src="../js/script-core.js" id="kingster-script-core-js"></script>
    <script type='text/javascript' src="../js/isotope.js"></script>

    <script>
        $('#btn-search').on("click", function(envent){
           event.preventDefault()
           var name = $('#search-name').val()
           var title = $('#search-title').val()
           var faculty = $('#search-faculty').val()
           var topic = $('#search-topic').val()
           window.location.href = `/guest/contribution_manage?name=${name}&title=${title}&faculty=${faculty}&topic=${topic}`
        })
       </script>
</body>

