<head>
    

</head>
<%- include('../../layouts/functions.ejs') %> 


            <div class="kingster-page-title-wrap kingster-style-medium kingster-left-align">
                <div class="kingster-header-transparent-substitute">
                </div>
                <div class="kingster-page-title-overlay">
                </div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr">
                        
                    </div>
                </div>
            </div>
            <div class="kingster-breadcrumbs">
                <div class="kingster-breadcrumbs-container kingster-container">
                    <div class="kingster-breadcrumbs-item kingster-item-pdlr">
                        <!-- Breadcrumb NavXT 6.5.0 -->
                        
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Finance." href="/" class="post post-page"><span property="name">Home</span></a>
                        <meta property="position" content="1">
                        </span> &gt; 
                        <span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Topic</span>
                        <meta property="url" content="index.html">
                        <meta property="position" content="2">
                        </span>
                    </div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper ">
                        <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" style="padding: 40px 0px 0px 0px;">
                                <div class="gdlr-core-pbf-sidebar-content-inner" data-skin="Personnel">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-personnel-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-personnel-item-style-medium gdlr-core-personnel-style-medium">
                                            
                                            <% for(var i in topics) { %>
                                            <div class="gdlr-core-personnel-list-column gdlr-core-column-60 gdlr-core-column-first gdlr-core-item-pdlr">
                                                <div class="gdlr-core-personnel-list clearfix">
                                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image gdlr-core-hover-element gdlr-core-zoom-on-hover">
                                                        <a href="#"><img src="../upload/Portrait5-500x500.jpg" alt="" width="250" height="250" title="Portrait5" /></a>
                                                        <div class="gdlr-core-hover-opacity">
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-personnel-list-content-wrap row">
                                                        
                                                        <h3 class="gdlr-core-personnel-list-title" style="font-size: 30px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;"><a href="#"><%= topics[i].name %></a></h3>
                                                        
                                                        
                                                        <div class="gdlr-core-personnel-list-content">
                                                            <p>                                                              
                                                               <b>Start date: </b><%= format_date(topics[i].start_date) %><br/>
                                                               <b>End date: </b> <%= format_date(topics[i].end_date) %> <br/>
                                                               <b>Status: </b>
                                                               <% if (Date.parse(topics[i].end_date) > Date.now() ) { %>
                                                                    <span style="color: green;">Ongoing</span>
                                                                <% } else { %>
                                                                    <span style="color: red;">Expired</span>
                                                                <% } %>                                                            
                                                            </p>
                                                        </div>
                                                        
                                                            <a class="gdlr-core-personnel-list-button gdlr-core-button" href=<%= "/guest/contribution_manage?topic_id=" + topics[i].id %>>Contributions</a>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>

                                            
                                        </div>    
                                    </div>                    
                                </div>
                                
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right kingster-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding gdlr-core-line-height" style="padding: 40px 0px 30px 0px;">
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    
                                    <div id="text-21" class="widget widget_text kingster-widget">
                                        <div class="textwidget">
                                            <div class="gdlr-core-widget-box-shortcode " style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ;">
                                                <div class="gdlr-core-widget-box-shortcode-content">
                                                    </p>
                                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 25px;">Department Contact Info</h3>
                                                    <p>
                                                        <span style="color: #0082fa; font-size: 16px; font-weight: 600;">Bachelor Of Science in Business Administration</span><br/>
                                                        <span style="font-size: 15px;"><br/>
                                                    1810 Campus Way NE<br/>
                                                    Bothell, WA 98011-8246</span>
                                                    </p>
                                                    <p>
                                                        <span style="font-size: 15px;">+1-2345-5432-45<br/>
                                                    <a href="#" class="__cf_email__" >test@gmail.com</a><br/>
                                                    </span>
                                                    </p>
                                                    <p>
                                                        <span style="font-size: 16px; color: #0082fa;">Mon &#8211; Fri 9:00A.M. &#8211; 5:00P.M.</span>
                                                    </p>
                                                    <span class="gdlr-core-space-shortcode" style="margin-top: 40px ;"></span>
                                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 15px;">Social Info</h3>
                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align" style="padding-bottom: 0px ;">
                                                        <a href="#url" target="_blank" class="gdlr-core-social-network-icon" title="facebook" style="color: #0082fa ;" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a><a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="google-plus" style="color: #0082fa ;" rel="noopener noreferrer"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon"
                                                            title="linkedin" style="color: #0082fa ;" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype" style="color: #0082fa ;"
                                                            rel="noopener noreferrer"><i class="fa fa-skype"></i></a>
                                                        <a href="#url" target="_blank" class="gdlr-core-social-network-icon" title="twitter" style="color: #0082fa ;" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram" style="color: #0082fa ;" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
                                                    </div>
                                                    <span class="gdlr-core-space-shortcode" style="margin-top: 40px ;"></span>
                                                    
                                                    <p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="../js/jquery/jquery.js" id="jquery-core-js"></script>
    <script src="../js/kingster-learnpress.js" id="kingster-learnpress-js"></script>
    <script>
        (function(body) {
            'use strict';
            body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
        })(document.body);
    </script>
    
    <script src="../js/script.js" id="gdlr-core-plugin-js"></script>
    
    <script src="../js/page-builder.js" id="gdlr-core-page-builder-js"></script>
    <script src="../js/jquery/ui/effect.min.js" id="jquery-effects-core-js"></script>
    <script id="kingster-script-core-js-extra">
        /* <![CDATA[ */
        var kingster_script_core = {
            "home_url": "index.html"
        };
        /* ]]> */
    </script>
    <script src="../js/script-core.js" id="kingster-script-core-js"></script>
    <script type='text/javascript' src="../js/isotope.js"></script>
    <script type='text/javascript' src="../js/page-builder.js"></script>
</body>

</html>