<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

</head>


<%- include('../../layouts/functions.ejs') %> 


<div class="kingster-page-title-wrap kingster-style-medium kingster-left-align">
    <div class="kingster-header-transparent-substitute">
    </div>
    <div class="kingster-page-title-overlay">
    </div>
    <div class="kingster-page-title-container kingster-container">
        <div class="kingster-page-title-content kingster-item-pdlr">

        </div>
    </div>
</div>

<div class="kingster-breadcrumbs" style="padding-top: 22px ;padding-bottom: 0px ;">
    <div class="kingster-breadcrumbs-container kingster-container">
        <div class="kingster-breadcrumbs-item kingster-item-pdlr">
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Go to Kingster - College." href="/" class="home">
                    <span property="name">Home</span>
            </a>
            <meta property="position" content="1">
            </span> &gt;
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Go to Kingster - College." href="/student/self_contribution_manage" class="home">
                    <span property="name">My Contributions</span>
            </a>
            <meta property="position" content="2">
            </span> &gt;
            
            <span property="itemListElement" typeof="ListItem">
                <span property="name" class="post post-page current-item">File</span>
            <meta property="url" content="https://demo.goodlayers.com/kingster/homepages/college/course-search/">
            <meta property="position" content="4">
            </span>
        </div>
    </div>
</div>

<div class="kingster-page-wrapper" id="kingster-page-wrapper">
    <div class="kingster-content-container kingster-container">
        <div class=" kingster-sidebar-wrap clearfix kingster-line-height-0 kingster-sidebar-style-right">
            <div class=" kingster-sidebar-center kingster-column-40 kingster-line-height">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper ">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" >
                                        <div class="gdlr-core-course-item-list ">
                                            <span class="gdlr-core-course-item-link">
                                                
                                                <h5 style="color: black;"><%= contributions[0].title %></h5>
                                                <span class="gdlr-core-course-item-icon gdlr-core-skin-icon">
                                        
                                                        <i data-whatever="@mdo" data-toggle="modal" data-target="#exampleModalCenter" class="gdlr-core-pos-right fa fa-pencil-square-o" style="font-size: 20px ;"></i>
                                                    
                                                </span>



                                            </span>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                        <div class="gdlr-core-course-item-list ">
                                            
                                                <p>
                                                    <b>Topic: </b><span><%= contributions[0].topic %></span> <br>
                                                    <b>Last update: </b><span><%= format_date(contributions[0].submitted_date) %></span> <br>
                                                    <b>Mark: </b><span><%= contributions[0].mark %></span> <br>
                                                    <b>Status: </b>
                                                        <% if(contributions[0].is_active) { %>
                                                            <span style="color: green;">Approve</span>
                                                        <% } else { %>
                                                            <span style="color: red;">Disapproved</span>
                                                        <% }%>
                                                </p>
                                                
                                            
                                        </div>
                                    </div>        
                                    
                                    <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">

                                        <% for (var index in files) {%>
                                        <div class="gdlr-core-course-item-list ">
                                            <span class="gdlr-core-course-item-link">
                                                <span class="gdlr-core-course-item-id gdlr-core-skin-caption" ><%= parseInt(index) + 1 %></span>
                                            <span class="gdlr-core-course-item-id gdlr-core-skin-caption" style="color: black;"><%= files[index].file_name %></span>
                                            <span class="gdlr-core-course-item-icon gdlr-core-skin-icon">
                                                    <a href="#" style="color: #0082fa;"><i class="fa fa-long-arrow-right"></i></a> 
                                                    <a class="btn-delete" data-path='<%= files[index].path + "/" + files[index].file_name %>' data-file='<%= files[index].file_name %>' data-id='<%= files[index].id %>' data-toggle="modal" data-target="#delete_modal" style="color: #0082fa;"><i class="fa fa-minus "></i></a> 
                                                </span>
                                            </span>
                                        </div>
                                        <% }%>
                                        
                                    </div>
                                    <!-- Modal -->
                                    <!-- Button trigger modal -->


                                     <!-- MODAL FOR EDIT TITLE -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                     </button>
                                                </div>
                                                <form action='/update_title' class="form-group" method="post">
                                                    <div class="modal-body">
                                                        <input type="hidden" class="form-control" value='<%= contributions[0].id %>' name="id">
                                                        <input type="text" class="form-control" value='<%=contributions[0].title%>' name="title">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                     <!-- MODAL FOR ADD COMMENT -->
                                     <div class="modal fade" id="add-comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Comment</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                     </button>
                                                </div>
                                                <form action='/add_comment' class="form-group" method="post">
                                                    <div class="modal-body">
                                                        <input type="hidden" class="form-control" value='<%= contributions[0].id %>' name="contribution_id">
                                                        <label class="">Content:</label>
                                                        <textarea class="form-control" name="content" rows=5></textarea>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Add comment</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- MODAL FOR DELETE FILE -->
                                    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Delete File</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                     </button>
                                                </div>
                                                <form action="/delete_file" method="post" class="form-group">
                                                    <div class="modal-body">
                                                        <span>Are you sure want to delete <b id='file-name'></b>? You will not be able recover this file!</span>
                                                        <input type="hidden" name="id" id="id" class="form-control" value=''>
                                                        <input type="hidden" name="path" id="path" class="form-control" value=''>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Delete</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Modal -->
                                    

                                    <!-- SUBMIT FILE -->
                                    <% if (Date.parse(contributions[0].end_date) > Date.now()) { %>
                                    <form action="/upload_file" method="post" enctype="multipart/form-data" id="upload-form">
                                        <input name="topic_id" type="hidden" value='<%= contributions[0].topic_id %>'>
                                        <input name="contribution_id" type="hidden" value='<%= contributions[0].id %>'>
                                        <div class="file-loading">
                                            
                                            <input id="input-pd" name="files" type="file" multiple required>
                                        </div>
                                        <div class="form-group gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <br>
                                            <span style="display: flex;">
                                                <input style="margin: 7px 8px 0 !important" type="checkbox" name="term_of_service" id="cb-tos" value="Y">
                                                <label for="cb-tos">Agree <a href="">Term of service</a></label>
                                            </span>


                                            <button disabled id="btn-submit" class="gdlr-core-button gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" type="submit" style="
                                            font-size: 14px;
                                            font-weight: 700;
                                            letter-spacing: 0px;
                                            padding: 13px 26px 16px 30px;
                                            text-transform: none;
                                            border-radius: 2px;
                                            -moz-border-radius: 2px;
                                            -webkit-border-radius: 2px;
                                            background: #0082fa;
                                            border: none;">

                                            <span class="gdlr-core-content">Submit</span><i class="gdlr-core-pos-right fa fa-file-pdf-o" style="font-size: 14px;"></i>
                                        </button>

                                        </div>
                                    </form>
                                    <% } else { %>
                                        <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list-info gdlr-core-left-align clearfix " style="padding-bottom: 0px ;">
                                            <h6>Sorry, this topic is already expired after <%= format_date(contributions[0].end_date) %>. You can not edit it anymore!</h6>
                                        </div>
                                            
                                        
                                    <% } %>
                                    <!-- COMMENT -->
                                    <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list-info gdlr-core-left-align clearfix " style="padding-bottom: 0px ;">
                                        <div class="gdlr-core-right-align">
                                            
                                            <a data-whatever="@mdo" data-toggle="modal" data-target="#add-comment" href=""  class="gdlr-core-course-item-button gdlr-core-button">Comment</a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list-info gdlr-core-left-align clearfix " style="padding-bottom: 0px ;">
                                        
                                        <% for( var index in comments) { %>
                                        <div class="gdlr-core-course-item-list">
                                            <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption">
                                                <% if(comments[index].user_id != contributions[0].user_id ) { %>
                                                <%= comments[index].type%></span><%= comments[index].first_name + " " + comments[index].last_name%>
                                                <% } else { %>
                                                    <%= "My comment" %>
                                                <% } %>
                                            </h3>
                                            <div class="gdlr-core-course-item-info-wrap">

                                                <div class="gdlr-core-course-item-info">
                                                    <p>
                                                        <%= comments[index].content%>
                                                    </p>
                                                </div>


                                            </div>
                                            <div class="gdlr-core-right-align">
                                                <span class="gdlr-core-head"><%= format_date(comments[index].comment_date)%></span>
                                            </div>

                                        </div>
                                        <% } %>

                                       
                                       

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class=" kingster-sidebar-right kingster-column-20 kingster-line-height kingster-line-height">
                <div class="kingster-sidebar-area kingster-item-pdlr">
                    <div id="text-18" class="widget widget_text kingster-widget">
                        <div class="textwidget">
                            <div class="gdlr-core-widget-box-shortcode " style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ;">
                                <div class="gdlr-core-widget-box-shortcode-content">
                                    </p>
                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 25px;">Department Contact Info</h3>
                                    <p>
                                        <span style="color: #0082fa; font-size: 16px; font-weight: 600;">Bachelor Of Science in Business Administration</span><br/>
                                        <span style="font-size: 15px;"><br/>
                                    1810 Campus Way NE<br/>
                                    Bothell, WA 98011-8246</span>
                                    </p>
                                    <p>
                                        <span style="font-size: 15px;">+1-2345-5432-45<br/>
                                    <a href="#" class="__cf_email__" >test@gmail.com</a><br/>
                                    </span>
                                    </p>
                                    <p>
                                        <span style="font-size: 16px; color: #0082fa;">Mon &#8211; Fri 9:00A.M. &#8211; 5:00P.M.</span>
                                    </p>
                                    <span class="gdlr-core-space-shortcode" style="margin-top: 40px ;"></span>
                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 15px;">Social Info</h3>
                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align" style="padding-bottom: 0px ;">
                                        <a href="#url" target="_blank" class="gdlr-core-social-network-icon" title="facebook" style="color: #0082fa ;" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon"
                                            title="google-plus" style="color: #0082fa ;" rel="noopener noreferrer"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin" style="color: #0082fa ;"
                                            rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype" style="color: #0082fa ;" rel="noopener noreferrer"><i class="fa fa-skype"></i></a>
                                        <a href="#url" target="_blank" class="gdlr-core-social-network-icon" title="twitter" style="color: #0082fa ;" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram" style="color: #0082fa ;" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
                                    </div>
                                    <span class="gdlr-core-space-shortcode" style="margin-top: 40px ;"></span>
                                    <p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<script src="../js/jquery/jquery.js" id="jquery-core-js"></script>
<script src="../js/kingster-learnpress.js" id="kingster-learnpress-js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/sortable.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/piexif.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>

<script>
    (function(body) {
        'use strict';
        body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
    })(document.body);
</script>
<script>
    /* <![CDATA[ */
    var tribe_l10n_datatables = {
        "aria": {
            "sort_ascending": ": activate to sort column ascending",
            "sort_descending": ": activate to sort column descending"
        },
        "length_menu": "Show _MENU_ entries",
        "empty_table": "No data available in table",
        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
        "info_empty": "Showing 0 to 0 of 0 entries",
        "info_filtered": "(filtered from _MAX_ total entries)",
        "zero_records": "No matching records found",
        "search": "Search:",
        "all_selected_text": "All items on this page were selected. ",
        "select_all_link": "Select all pages",
        "clear_selection": "Clear Selection.",
        "pagination": {
            "all": "All",
            "next": "Next",
            "previous": "Previous"
        },
        "select": {
            "rows": {
                "0": "",
                "_": ": Selected %d rows",
                "1": ": Selected 1 row"
            }
        },
        "datepicker": {
            "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
            "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"],
            "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            "monthNamesShort": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            "monthNamesMin": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            "nextText": "Next",
            "prevText": "Prev",
            "currentText": "Today",
            "closeText": "Done",
            "today": "Today",
            "clear": "Clear"
        }
    }; /* ]]> */
</script>
<script src="../js/script.js" id="gdlr-core-plugin-js"></script>
<script id="gdlr-core-page-builder-js-extra">
    /* <![CDATA[ */
    var gdlr_core_pbf = {
        "admin": "",
        "video": {
            "width": "640",
            "height": "360"
        },
        "ajax_url": "#"
    };
    /* ]]> */
</script>
<script src="../js/page-builder.js" id="gdlr-core-page-builder-js"></script>
<script src="../js/jquery/ui/effect.min.js" id="jquery-effects-core-js"></script>
<script id="kingster-script-core-js-extra">
    /* <![CDATA[ */
    var kingster_script_core = {
        "home_url": "index.html"
    };
    /* ]]> */
</script>
<script src="../js/script-core.js" id="kingster-script-core-js"></script>
<script type='text/javascript' src="../js/isotope.js"></script>
<script type='text/javascript' src="../js/custom.js"></script>
<script>
    $("#input-pd").fileinput({
        uploadUrl: "/file-upload-batch/1",
        uploadAsync: false,
        minFileCount: 1,
        maxFileCount: 12,
        overwriteInitial: false,
        initialPreview: [
            

        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        initialPreviewDownloadUrl: 'https://kartik-v.github.io/bootstrap-fileinput-samples/samples/{filename}', // includes the dynamic `filename` tag to be replaced for each config
        initialPreviewConfig: [{
                caption: "Desert.jpg",
                size: 827000,
                width: "120px",
                url: "/file-upload-batch/2",
                key: 1
            }, {
                caption: "Lighthouse.jpg",
                size: 549000,
                width: "120px",
                url: "/file-upload-batch/2",
                key: 2
            }, {
                type: "video",
                size: 375000,
                filetype: "video/mp4",
                caption: "KrajeeSample.mp4",
                url: "/file-upload-batch/2",
                key: 3,
                downloadUrl: 'https://kartik-v.github.io/bootstrap-fileinput-samples/samples/small.mp4', // override url
                filename: 'KrajeeSample.mp4' // override download filename
            }, {
                type: "office",
                size: 102400,
                caption: "SampleDOCFile_100kb.doc",
                url: "/file-upload-batch/2",
                key: 4
            }, {
                type: "office",
                size: 45056,
                caption: "SampleXLSFile_38kb.xls",
                url: "/file-upload-batch/2",
                key: 5
            }, {
                type: "office",
                size: 512000,
                caption: "SamplePPTFile_500kb.ppt",
                url: "/file-upload-batch/2",
                key: 6
            }, {
                type: "gdocs",
                size: 811008,
                caption: "multipage_tiff_example.tif",
                url: "/file-upload-batch/2",
                key: 7
            }, {
                type: "gdocs",
                size: 375808,
                caption: "sample_ai.ai",
                url: "/file-upload-batch/2",
                key: 8
            }, {
                type: "gdocs",
                size: 40960,
                caption: "sample_eps.eps",
                url: "/file-upload-batch/2",
                key: 9
            }, {
                type: "pdf",
                size: 8000,
                caption: "About.pdf",
                url: "/file-upload-batch/2",
                key: 10,
                downloadUrl: false
            }, // disable download
            {
                type: "text",
                size: 1430,
                caption: "LoremIpsum.txt",
                url: "/file-upload-batch/2",
                key: 11,
                downloadUrl: false
            }, // disable download
            {
                type: "html",
                size: 3550,
                caption: "LoremIpsum.html",
                url: "/file-upload-batch/2",
                key: 12,
                downloadUrl: false
            } // disable download
        ],
        uploadExtraData: {
            img_key: "1000",
            img_keywords: "happy, places"
        }
    }).on('filesorted', function(e, params) {
        console.log('File sorted params', params);
    }).on('fileuploaded', function(e, params) {
        console.log('File uploaded params', params);
    });



    $('#exampleModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)

        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
        $('.modal-backdrop').remove();

    })

    $('.btn-delete').on('click', function(event){
        var file = $(this).data('file')
        $('#file-name').text(file)
        $('#id').val($(this).data('id'))
        $('#path').val($(this).data('path'))
    })
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>