

<head>
    

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="../assets/plugins/dropify/css/dropify.min.css">
    <link rel="stylesheet" href="../assets/plugins/summernote/dist/summernote.css" />
    <link rel="stylesheet" href="../assets/plugins/sweetalert/sweetalert.css">

    <link rel="stylesheet" href="../assets/plugins/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets/plugins/datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets/plugins/datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    
    <!-- Core css -->
    <link rel="stylesheet" href="../assets/css/style.min.css" />
</head>

<%- include('../../layouts/functions.ejs') %> 
    <!-- Start Page title and tab -->
    <div class="section-body">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center ">
                <div class="header-action">
                    <h1 class="page-title">Contribution</h1>
                    <ol class="breadcrumb page-breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contribution</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="section-body mt-4">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="user-list">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="input-group">
                                        <input type="text" id="search-name" class="form-control" placeholder="Student name"  value='<%= search.name %>'>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="input-group">
                                        <input type="text" id="search-title" class="form-control" placeholder="Title"  value= '<%=search.title %>'>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="input-group">
                                        <select class="form-control" id="search-faculty">
                                            <option disabled >Faculty</option>
                                            <option value=0>All</option>
                                            <% for(var index in faculties) { %>
                                                <% var select = "" %>
                                                <% if(faculties[index].id == search.faculty) select = "selected"%>
                                            <option value='<%= faculties[index].id %>'  <%= select %>> <%= faculties[index].name %></option>
                                            <%  } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="input-group">
                                        <select class="form-control" id="search-topic">
                                            <option disabled>Topic</option>
                                            <option value=0>All</option>
                                            <% for(var index in topics) { %>
                                                <% var select = "" %>
                                                <% if(topics[index].id == search.topic) select = "selected"%>
                                            <option value='<%= topics[index].id %>'  <%= select %>> <%= topics[index].name %></option>
                                            <%  } %>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="input-group">
                                        <input data-provide="datepicker" data-date-autoclose="true" class="form-control" placeholder="Birth Date">
                                    </div>
                                </div> -->
                                <div class="col-lg-2 col-md-4 col-sm-6">
                        
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <button id="btn-search" class="btn btn-sm btn-primary btn-block" title="">Search</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover js-basic-example dataTable table-striped table_custom border-style spacing5">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Title</th>
                                            <th>Student</th>
                                            <th>Topic</th> 
                                            <th>Faculty</th>
                                            <th>Mark</th>
                                            <th>Submitted date</th>
                                            <th>Selected</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var index in contributions) { %>

                                        <tr>
                                            <% num = parseInt(index) + 1 %>
                                            <td><%= num%></td> 
                                            <td><%= contributions[index].title %></td>
                                            <td><%= contributions[index].first_name + " " + contributions[index].last_name %></td>
                                            <td><%= contributions[index].topic %></td>
                                            <td><%= contributions[index].faculty %></td>
                                            <td><%= contributions[index].mark %></td>
                                            <td><%= format_date(contributions[index].submitted_date) %></td>
                                            <% if (contributions[index].is_active) { %>
                                                <td style="color: green;">Approved</td>
                                            <% } else { %>
                                                <td style="color: red;">Disapproved</td>
                                            <% } %>
                                            <td>
                                                <% name = "Student_" + contributions[index].user_id %>
                                                <% path = "/Topic_" + contributions[index].topic_id + "/Faculty_" + contributions[index].faculty_id %>
                                                <a href='/admin/file_manage?id=<%=contributions[index].id %>' type="button" class="btn btn-icon btn-sm" title="View"><i class="fa fa-eye"></i></a>
                                                <a href='/download_file?path=<%= path %>&name=<%= name %>&title=<%= contributions[index].title %>' type="button" class="btn btn-icon btn-sm" title="Download"><i class="fa fa-cloud-download" style="color:green"></i></a>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- Start main footer -->
    
</div>
</div>

<!-- Start Main project js, jQuery, Bootstrap -->
<script src="../assets/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="../assets/plugins/dropify/js/dropify.min.js"></script>
<script src="../assets/bundles/summernote.bundle.js"></script>
<script src="../assets/plugins/sweetalert/sweetalert.min.js"></script>

<!-- Start project main js  and page js -->
<script src="../assets/js/core.js"></script>
<script src="../assets/js/form/dropify.js"></script>
<script src="../assets/js/page/summernote.js"></script>
<script src="../assets/js/page/dialogs.js"></script>


<!-- Pagination javascript -->
<script src="../assets/bundles/dataTables.bundle.js"></script>
<script src="../assets/js/table/datatable.js"></script>

<script>
    $('#btn-search').on("click", function(){
       
       var name = $('#search-name').val()
       var title = $('#search-title').val()
       var faculty = $('#search-faculty').val()
       var topic = $('#search-topic').val()
       window.location.href = `/admin/contribution_manage?name=${name}&title=${title}&faculty=${faculty}&topic=${topic}`
    })
   </script>




