

<head>
    
    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="../assets/plugins/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets/plugins/datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets/plugins/datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets/plugins/sweetalert/sweetalert.css">
    <!-- Core css -->
    <link rel="stylesheet" href="../assets/css/style.min.css" />
</head>

<body>
    <%- include('../../layouts/functions.ejs') %> 
            <!-- Start Page title and tab -->
            <div class="section-body">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="header-action">
                            <h1 class="page-title">Topic</h1>
                            <ol class="breadcrumb page-breadcrumb">
                                <li class="breadcrumb-item"><a href="/coordinate">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Topic</li>
                            </ol>
                        </div>
                        <ul class="nav nav-tabs page-header-tab">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#topic-list">List View</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section-body mt-4">
                <div class="container-fluid">
                    <div class="tab-content">
                        <div class="tab-pane active" id="topic-list">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover js-basic-example dataTable table-striped table_custom border-style spacing5">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Title</th>
                                                    <th>Start date</th>
                                                    <th>End date</th>
                                                    
                                                    <th>Active</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var index in topics) { %>
                                                <tr>
                                                    <% num = parseInt(index) + 1 %>
                                                    <td><%= num%></td>
                                                    <td><%= topics[index].name %></td>
                                
                                                    <td><%= format_date(topics[index].start_date) %></td>
                                                    <td><%= format_date(topics[index].end_date) %></td>
                                                    
                                                    <% if (Date.parse(topics[index].end_date) > Date.now() ) { %>
                                                        <td style="color: green;">Ongoing</td>
                                                    <% } else { %>
                                                        <td style="color: red;">Expired</td>
                                                    <% } %>
                                                    <td>
                                                        <a href=<%= "/coordinate/contribution_manage?topic=" + topics[index].id %> type="button" class="btn btn-icon btn-sm" title="View"><i class="fa fa-book"></i></a>
                                                        <a href=<%= "/coordinate/topic_detail?id="  + topics[index].id %> type="button" class="btn btn-icon btn-sm" title="Detail"><i class="fa fa-eye"></i></a>
                                                        
                                                    </td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>              
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- Start main footer -->
            
        
    

    <!-- Start Main project js, jQuery, Bootstrap -->
    <script src="../assets/bundles/lib.vendor.bundle.js"></script>

    <!-- Start Plugin Js -->
    <script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../assets/bundles/dataTables.bundle.js"></script>
    <script src="../assets/plugins/sweetalert/sweetalert.min.js"></script>
    
    <!-- Start project main js  and page js -->
    <script src="../assets/js/form/dropify.js"></script>
    <script src="../assets/js/page/summernote.js"></script>

    <!-- Start project main js  and page js -->
    <script src="../assets/js/core.js"></script>
    <script src="../assets/js/page/dialogs.js"></script>
    <script src="../assets/js/table/datatable.js"></script>
</body>

