<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%- title %></title>
    <link rel="stylesheet" href="../css/common-skeleton.min.css?" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/tooltip.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/font-awesome.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/elegant-font.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/page-builder.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../plugins/revslider/public/assets/css/rs6.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/style-core.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/kingster-style-custom.css" type="text/css" media="all" />

    <link rel="stylesheet" id="gdlr-core-google-font-css" href="https://fonts.googleapis.com/css?family=Jost%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2Citalic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;subset=cyrillic%2Clatin%2Clatin-ext%2Ccyrillic-ext%2Cvietnamese&amp;ver=5.5.1"
        type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400%2C700%7CRoboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" />
    <%- style %>
</head>

<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%-title %></title>

    

</head>

<body class="home page-template-default page page-id-6208 gdlr-core-body tribe-no-js kingster-body kingster-body-front kingster-full kingster-with-sticky-navigation kingster-sticky-navigation-no-logo kingster-blockquote-style-1 gdlr-core-link-to-lightbox">
<div class="kingster-mobile-header-wrap">
    <div class="kingster-mobile-header kingster-header-background kingster-style-slide kingster-sticky-mobile-navigation" id="kingster-mobile-header">
        <div class="kingster-mobile-header-container kingster-container clearfix">
            <div class="kingster-logo kingster-item-pdlr kingster-mobile-logo-center">
                <div class="kingster-logo-inner">
                    <a class="" href="index.html"><img src="../upload/logo-HP.png" alt="" width="200" height="200" title="logo HP" /></a>
                </div>
            </div>
            <div class="kingster-mobile-menu-right">
                <div class="kingster-main-menu-search" id="kingster-mobile-top-search"><i class="fa fa-search"></i></div>
                <div class="kingster-top-search-wrap">
                    <div class="kingster-top-search-close"></div>

                    <div class="kingster-top-search-row">
                        <div class="kingster-top-search-cell">
                            <form role="search" method="get" class="search-form" action="#">
                                <input type="text" class="search-field kingster-title-font" placeholder="Search..." value="" name="s" />
                                <div class="kingster-top-search-submit"><i class="fa fa-search"></i></div>
                                <input type="submit" class="search-submit" value="Search" />
                                <div class="kingster-top-search-close"><i class="icon_close"></i></div>
                                <input type="hidden" name="ref" value="course" /><input type="hidden" name="post_type" value="lp_course" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kingster-mobile-menu-left">
                <div class="kingster-mobile-menu">
                    <a class="kingster-mm-menu-button kingster-mobile-menu-button kingster-mobile-button-hamburger" href="#kingster-mobile-menu"><span></span></a>
                    <div class="kingster-mm-menu-wrap kingster-navigation-font" id="kingster-mobile-menu" data-slide="right">
                        <ul id="menu-main-navigation" class="m-menu">
                            <li class="menu-itemmenu-item-home current-menu-item page_item page-item-6208 current_page_item ">
                                <a href="/student" aria-current="page">Home</a>
                            </li>
                            <li class="menu-itemmenu-item-home current-menu-item page_item page-item-6208 current_page_item ">
                                <a href="/student/topic_manage" aria-current="page">Topic</a>
                            </li>
                            <li class="menu-itemmenu-item-home current-menu-item page_item page-item-6208 current_page_item ">
                                <a href="/student/faculty_manage" aria-current="page">Faculty</a>
                            </li>
                            <li class="menu-itemmenu-item-home current-menu-item page_item page-item-6208 current_page_item ">
                                <a href="/student/contribution_manage" aria-current="page">Contribution</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kingster-body-outer-wrapper">
    <div class="kingster-body-wrapper clearfix kingster-with-transparent-header kingster-with-frame">
        <div class="kingster-header-background-transparent">
            <div class="kingster-top-bar">
                <div class="kingster-top-bar-background"></div>
                <div class="kingster-top-bar-container kingster-container">
                    <div class="kingster-top-bar-container-inner clearfix">
                        
                        <div class="kingster-top-bar-left kingster-item-pdlr">
                            
                            <div class="kingster-top-bar-left-text">
                                <br>
                                <span style="color: #8dd7e5; margin-right: 10px;">Welcome to our university</span>
                                
                            </div>
                            
                        </div>
                        
                        <div class="kingster-top-bar-right kingster-item-pdlr">
                            
                            <div class="kingster-top-bar-right-text">

                                <div class="kingster-main-menu" id="kingster-main-menu">

                                    <ul id="menu-main-navigation-1" class="sf-menu">
                                        <span style="margin-right: 30px;"></span>
                                        <li class="menu-itemmenu-item-has-children  kingster-normal-menu">
                                            <span style="color: #8dd7e5; margin-right: 30px;">Phone: +84 969 696 969</span>
                                        </li>
                                        <li class="menu-itemmenu-item-has-children  kingster-normal-menu">
                                            <span style="margin-right: 30px;"><%= username %></span>
                                            <ul class="sub-menu ">
                                                <li class="menu-item " style="padding: 1rem; "><a href="/student/change_password">Change Password</a></li>
                                                <li class="menu-item " style="padding: 1rem; "><a href="/logout">Sign Out</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <header class="kingster-header-wrap kingster-header-style-plain kingster-style-splitted-menu kingster-sticky-navigation kingster-style-slide clearfix" data-navigation-offset="75px">
                <div class="kingster-header-background"></div>
                <div class="kingster-header-container kingster-container">
                    <div class="kingster-header-container-inner clearfix">
                        <div class="kingster-navigation kingster-item-pdlr clearfix">
                            <div class="kingster-main-menu" id="kingster-main-menu">
                                <ul id="menu-main-navigation-1" class="sf-menu">
                                    <li class="menu-itemmenu-item-home  kingster-normal-menu">
                                        <a href="/student">Home</a>
                                    </li>
                                    
                                    <li class="menu-itemmenu-item-has-children  kingster-normal-menu">
                                        <a href="/student/topic_manage" class="sf-with-ul-pre">Topic</a>
                
                                    </li>
                                    <li class="kingster-center-nav-menu-item">
                                        <div class="kingster-logo kingster-item-pdlr">
                                            <div class="kingster-logo-inner">
                                                <a class="" href="/student"><img src="../upload/logo-HP.png" alt="" width="200" height="200" title="logo HP" /></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-item menu-item-has-children  kingster-normal-menu">
                                        <a href="/student/faculty_manage" class="sf-with-ul-pre">Faculty</a>
                                    </li>
                                    <li class="menu-itemmenu-item-has-children  kingster-normal-menu">
                                        <a href="#" class="sf-with-ul-pre">Contribution</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="/student/contribution_manage">All contributions</a></li>
                                            <li class="menu-item"><a href="/student/self_contribution_manage">My contributions</a></li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                        <!-- kingster-navigation -->
                    </div>
                    <!-- kingster-header-inner -->
                </div>
                <!-- kingster-header-container -->
            </header>
            <!-- header -->
        </div>
        <%- body %>

      
        <footer class="kingster-no-title-divider">
            <div class="kingster-footer-wrapper">
                <div class="kingster-footer-container kingster-container clearfix">
                    <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                        <div id="text-2" class="widget widget_text kingster-widget">
                            <div class="textwidget">
                                <p>
                                    <img src="../upload/logo-HP.png" alt="" width="90" /><br />
                                    <span class="gdlr-core-space-shortcode" style="margin-top: 0px;"></span><br /> Box 35300<br /> 1810 Campus Way NE
                                </p>
                                <p>
                                    <span style="font-size: 15px; color: #ffffff;">+1-2534-4456-345</span><br />
                                    <span class="gdlr-core-space-shortcode" style="margin-top: -20px;"></span><br />
                                    <a style="font-size: 15px; color: #8dd7e5;" href="#">
                                        <span class="__cf_email__">test@gmail.com</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                        <div id="gdlr-core-custom-menu-widget-2" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                            <h3 class="kingster-widget-title">Our Campus</h3>
                            <span class="clear"></span>
                            <div class="menu-our-campus-container">
                                <ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Acedemic</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Planning &#038; Administration</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Campus Safety</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Office of the Chancellor</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Facility Services</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Human Resources</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                        <div id="gdlr-core-custom-menu-widget-4" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                            <h3 class="kingster-widget-title">Academics</h3>
                            <span class="clear"></span>
                            <div class="menu-academics-container">
                                <ul id="menu-academics" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Canvas</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Catalyst</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Library</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Time Schedule</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Apply For Admissions</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Pay My Tuition</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                        <div id="gdlr-core-custom-menu-widget-3" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                            <h3 class="kingster-widget-title">Campus Life</h3>
                            <span class="clear"></span>
                            <div class="menu-campus-life-container">
                                <ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Accessibility</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Financial Aid</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Food Services</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Housing</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Information Technologies</a></li>
                                    <li class="menu-item  kingster-normal-menu"><a href="#">Student Life</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kingster-copyright-wrapper">
                <div class="kingster-copyright-container kingster-container clearfix">
                    <div class="kingster-copyright-left kingster-item-pdlr">Copyright All Right Reserved 2020, Max Themes</div>
                    <div class="kingster-copyright-right kingster-item-pdlr">
                        <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align" style="padding-bottom: 0px;">
                            <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
      
        <%- script %>
        <script>
           
           
           
        </script>
</body>
</html>